*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    }

    a{
    text-decoration: none !important;
    }

.products_root{
    /* background-color: #00DBDE; 
    background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%); */
    
}


.card-container{
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}
    .slide-content{
    margin: 0 40px;
    justify-content: center !important;

    }
    .card{
    width: 290px;
    border-radius: 25px !important;
    background-color: #ffffff00;
    /* border-radius: 25px !important; */
    margin-bottom: 25px !important;
    }
    .image-content,
    .card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
    }
    .image-content{
    row-gap: 5px;
    position: relative;
    padding: 25px 0;
    }
    .overlay{
    position: absolute !important;
    left: 0 !important;
    top: 0 !important ;
    height: 100% !important;
    width: 100% !important;
    background-color: #ffc107 !important;
    border-radius: 25px 25px 0 25px;
    }
    .overlay::before,
    .overlay::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: #FFC107;
    }
    .overlay::after{
    border-radius: 0 30px 0 0;
    background-color: #FFF;
    }
    .card-image{
    position: relative;
    height: 320px !important;
    width: 220px;
    background: #FFF;
    padding: 3px;
    border-radius: 52px;
    }
    .card-image .card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border: 4px solid #FFC107;
    border-radius: 50px;
    }
    .name{
    font-size: 18px;
    font-weight: 500;
    color: #333;
    }
    h2{
        font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-shadow: 0px 1px 1px rgb(148, 96, 1);
    font-size: 22px !important;
    }
    h4{
        color: silver !important;
        text-shadow: 1px 1px 2px rgb(0, 0, 0);
    }
    
    .description{
    font-size: 14px;
    color: #707070;
    text-align: center;
    }
    .button{
    border: none;
    font-size: 16px;
    color: #FFF;
    padding: 8px 16px;
    background-color: #FFC107;
    border-radius: 6px;
    /* margin: 10px; */
    margin-bottom: 7px;
    transition: all 0.3s ease;
    }
    .button:hover{
    background: #6d5e32;
    }

    
    /* 1000 screen */
    @media only screen and (max-width: 1285px) {

    .cover-image {
    width: 100%;
    height: 70% !important;
    object-fit: cover;
    }

    .card{
    width: 230px;
    border-radius: 25px !important;
    background-color: #FFF;
    /* border-radius: 25px !important; */
    margin-bottom: 10px;

    }
    .card-image{
    position: relative;
    height: 270px;
    width: 200px;
    background: #FFF;
    padding: 3px;
    border-radius: 52px;
    }
    }


    /* @media only screen and (max-width: 600px) {


    .card{
        position: relative;
        right: 5px;
    width: 360px;
    border-radius: 25px !important;
    background-color: #FFF; */
    /* border-radius: 25px !important; */
    /* margin-bottom: 10px;

    } */
    /* .card-image{
    position: relative;

    height: 370px;
    width: 290px;
    background: #FFF;
    padding: 3px;
    border-radius: 52px;
    }
    } */

    @media only screen and (max-width: 400px) {


    
    }

    @media only screen and (max-width: 1284px) {
        .card-container{
            max-width: 1000px;
            margin-left: auto;
            margin-right: auto;
        }
    }
    @media only screen and (max-width: 991px) {
        .card-container{
            max-width: 750px;
            margin-left: auto;
            margin-right: auto;
        }
        
    }
    @media only screen and (max-width: 767px) {
        .card-container{
            max-width: 500px;
            margin-left: auto;
            margin-right: auto;
        }
    }
    @media only screen and (max-width: 575px) {
        .card{
            width: 340px;
            border-radius: 25px !important;
            background-color: #FFF;
            /* border-radius: 25px !important; */
            margin-bottom: 10px;
        }
        .card-image{
            position: relative;
            height: 380px !important;
            width: 300px !important;
            background: #FFF;
            padding: 3px;
            border-radius: 52px;
        }
        .card-container{
            max-width: 380px;
            margin-left: auto;
            margin-right: auto;
        }
    }

    @media only screen and (max-width: 475px) {
        
        
    }